In [42]:
import numpy as np
import pandas as pd
import matplotlib as py

In [43]:
boston_data = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/Boston_Housing/Training_set_boston.csv")

In [44]:
boston_data.head(5)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,15.02340,0.0,18.10,0.0,0.6140,5.304,97.3,2.1007,24.0,666.0,20.2,349.48,24.91,12.0
1,0.62739,0.0,8.14,0.0,0.5380,5.834,56.5,4.4986,4.0,307.0,21.0,395.62,8.47,19.9
2,0.03466,35.0,6.06,0.0,0.4379,6.031,23.3,6.6407,1.0,304.0,16.9,362.25,7.83,19.4
3,7.05042,0.0,18.10,0.0,0.6140,6.103,85.1,2.0218,24.0,666.0,20.2,2.52,23.29,13.4
4,0.72580,0.0,8.14,0.0,0.5380,5.727,69.5,3.7965,4.0,307.0,21.0,390.95,11.28,18.2

In [45]:
boston_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404 entries, 0 to 403
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     404 non-null    float64
 1   ZN       404 non-null    float64
 2   INDUS    404 non-null    float64
 3   CHAS     404 non-null    float64
 4   NOX      404 non-null    float64
 5   RM       404 non-null    float64
 6   AGE      404 non-null    float64
 7   DIS      404 non-null    float64
 8   RAD      404 non-null    float64
 9   TAX      404 non-null    float64
 10  PTRATIO  404 non-null    float64
 11  B        404 non-null    float64
 12  LSTAT    404 non-null    float64
 13  MEDV     404 non-null    float64
dtypes: float64(14)
memory usage: 44.3 KB

In [46]:
boston_data.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000
mean,3.609125,11.569307,10.985050,0.071782,0.556484,6.315891,68.556436,3.808195,9.356436,404.032178,18.318317,356.278342,12.457351,22.796535
std,8.875058,23.152481,6.894618,0.258447,0.117704,0.709452,27.994922,2.131226,8.589721,166.172655,2.228701,91.566533,7.110381,9.332147
min,0.009060,0.000000,0.740000,0.000000,0.385000,3.863000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.081437,0.000000,5.130000,0.000000,0.452000,5.890500,45.550000,2.087875,4.000000,279.000000,16.800000,375.472500,6.772500,16.950000
50%,0.261390,0.000000,8.560000,0.000000,0.538000,6.210000,77.700000,3.175750,5.000000,330.000000,18.700000,391.305000,10.925000,21.600000
75%,3.202962,20.000000,18.100000,0.000000,0.631000,6.636750,93.650000,5.400800,12.000000,666.000000,20.200000,395.755000,16.372500,26.400000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [47]:
x = boston_data.drop("MEDV", axis = 1)
y = boston_data.MEDV

In [48]:
x

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,15.02340,0.0,18.10,0.0,0.6140,5.304,97.3,2.1007,24.0,666.0,20.2,349.48,24.91
1,0.62739,0.0,8.14,0.0,0.5380,5.834,56.5,4.4986,4.0,307.0,21.0,395.62,8.47
2,0.03466,35.0,6.06,0.0,0.4379,6.031,23.3,6.6407,1.0,304.0,16.9,362.25,7.83
3,7.05042,0.0,18.10,0.0,0.6140,6.103,85.1,2.0218,24.0,666.0,20.2,2.52,23.29
4,0.72580,0.0,8.14,0.0,0.5380,5.727,69.5,3.7965,4.0,307.0,21.0,390.95,11.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...
399,0.17120,0.0,8.56,0.0,0.5200,5.836,91.9,2.2110,5.0,384.0,20.9,395.67,18.66
400,0.29916,20.0,6.96,0.0,0.4640,5.856,42.1,4.4290,3.0,223.0,18.6,388.65,13.00
401,0.01501,80.0,2.01,0.0,0.4350,6.635,29.7,8.3440,4.0,280.0,17.0,390.94,5.99
402,11.16040,0.0,18.10,0.0,0.7400,6.629,94.6,2.1247,24.0,666.0,20.2,109.85,23.27
403,0.22876,0.0,8.56,0.0,0.5200,6.405,85.4,2.7147,5.0,384.0,20.9,70.80,10.63

In [49]:

from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [50]:
features = x_train.shape[1]
print(features)

13

In [51]:
x_train.shape

(323, 13)

#Training the model

In [52]:
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense
from numpy.random import seed
import tensorflow

In [53]:
model = Sequential()
model.add(Dense(10, activation = 'relu', input_shape = (features,)))
model.add(Dense(8, activation = 'relu', input_shape = (features,)))
model.add(Dense(1))

In [54]:
from tensorflow.keras.optimizers import RMSprop
optimizer = RMSprop(0.01)

In [60]:
model.compile(loss = "mean_squared_error", optimizer=optimizer)

In [61]:
seed_value = 42
seed(seed_value) # If you build the model with given parameters, set_random_seed will help you produce the same result on multiple execution


# Recommended by Keras -------------------------------------------------------------------------------------
# 1. Set `PYTHONHASHSEED` environment variable at a fixed value
import os
os.environ['PYTHONHASHSEED']=str(seed_value)

# 2. Set `python` built-in pseudo-random generator at a fixed value
import random
random.seed(seed_value)

# 3. Set `numpy` pseudo-random generator at a fixed value
import numpy as np
np.random.seed(seed_value)
# Recommended by Keras -------------------------------------------------------------------------------------


# 4. Set the `tensorflow` pseudo-random generator at a fixed value
tensorflow.random.set_seed(seed_value)
model.fit(X_train, y_train, epochs=10, batch_size=30, verbose = 1) # fit the model

Epoch 1/10
11/11 [==============================] - 1s 7ms/step - loss: 3424.8242
Epoch 2/10
11/11 [==============================] - 0s 3ms/step - loss: 175.0317
Epoch 3/10
11/11 [==============================] - 0s 3ms/step - loss: 166.0612
Epoch 4/10
11/11 [==============================] - 0s 3ms/step - loss: 174.9949
Epoch 5/10
11/11 [==============================] - 0s 3ms/step - loss: 101.8015
Epoch 6/10
11/11 [==============================] - 0s 7ms/step - loss: 192.2431
Epoch 7/10
11/11 [==============================] - 0s 4ms/step - loss: 116.4234
Epoch 8/10
11/11 [==============================] - 0s 5ms/step - loss: 128.7848
Epoch 9/10
11/11 [==============================] - 0s 3ms/step - loss: 127.7806
Epoch 10/10
11/11 [==============================] - 0s 3ms/step - loss: 115.8689

In [63]:
model.evaluate(X_test,  y_test)

3/3 [==============================] - 0s 4ms/step - loss: 59.6878

59.68782043457031

#Hyperparameter Tuning

Adjust learning rate

In [69]:
model = Sequential()
model.add(Dense(10, activation = 'relu', input_shape = (features,)))
model.add(Dense(8, activation = 'relu', input_shape = (features,)))
model.add(Dense(1))
from tensorflow.keras.optimizers import RMSprop
optimizer = RMSprop(0.001)
model.compile(loss = "mean_squared_error", optimizer=optimizer)
model.fit(X_train, y_train, epochs=10, batch_size=30, verbose = 1) # fit the model
model.evaluate(X_test,  y_test)

Epoch 1/10
11/11 [==============================] - 1s 2ms/step - loss: 192.7825
Epoch 2/10
11/11 [==============================] - 0s 2ms/step - loss: 103.5376
Epoch 3/10
11/11 [==============================] - 0s 2ms/step - loss: 90.8591
Epoch 4/10
11/11 [==============================] - 0s 2ms/step - loss: 85.2131
Epoch 5/10
11/11 [==============================] - 0s 2ms/step - loss: 80.9735
Epoch 6/10
11/11 [==============================] - 0s 2ms/step - loss: 79.7044
Epoch 7/10
11/11 [==============================] - 0s 3ms/step - loss: 78.0321
Epoch 8/10
11/11 [==============================] - 0s 2ms/step - loss: 76.9448
Epoch 9/10
11/11 [==============================] - 0s 2ms/step - loss: 75.6264
Epoch 10/10
11/11 [==============================] - 0s 2ms/step - loss: 75.6339

WARNING:tensorflow:5 out of the last 13 calls to <function Model.make_test_function.<locals>.test_function at 0x7f7a6f649050> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.

3/3 [==============================] - 0s 7ms/step - loss: 61.7993

61.79926300048828

In [72]:
model = Sequential()
model.add(Dense(10, activation = 'relu', input_shape = (features,)))
model.add(Dense(8, activation = 'relu', input_shape = (features,)))
model.add(Dense(1))
from tensorflow.keras.optimizers import RMSprop
optimizer = RMSprop(0.001)
epochs = 45
model.compile(loss = "mean_squared_error", optimizer=optimizer)
model.fit(X_train, y_train, epochs=epochs, batch_size=30, verbose = 1) # fit the model
model.evaluate(X_test,  y_test)

Epoch 1/45
11/11 [==============================] - 1s 2ms/step - loss: 281.4617
Epoch 2/45
11/11 [==============================] - 0s 2ms/step - loss: 173.6276
Epoch 3/45
11/11 [==============================] - 0s 2ms/step - loss: 138.0988
Epoch 4/45
11/11 [==============================] - 0s 2ms/step - loss: 123.0755
Epoch 5/45
11/11 [==============================] - 0s 2ms/step - loss: 114.0053
Epoch 6/45
11/11 [==============================] - 0s 2ms/step - loss: 107.8220
Epoch 7/45
11/11 [==============================] - 0s 2ms/step - loss: 102.4205
Epoch 8/45
11/11 [==============================] - 0s 2ms/step - loss: 98.1735
Epoch 9/45
11/11 [==============================] - 0s 2ms/step - loss: 94.6693
Epoch 10/45
11/11 [==============================] - 0s 2ms/step - loss: 90.5067
Epoch 11/45
11/11 [==============================] - 0s 2ms/step - loss: 86.4929
Epoch 12/45
11/11 [==============================] - 0s 2ms/step - loss: 83.4686
Epoch 13/45
11/11 [==============================] - 0s 2ms/step - loss: 82.2239
Epoch 14/45
11/11 [==============================] - 0s 2ms/step - loss: 81.2933
Epoch 15/45
11/11 [==============================] - 0s 2ms/step - loss: 79.3401
Epoch 16/45
11/11 [==============================] - 0s 2ms/step - loss: 78.0873
Epoch 17/45
11/11 [==============================] - 0s 2ms/step - loss: 76.3144
Epoch 18/45
11/11 [==============================] - 0s 2ms/step - loss: 75.4237
Epoch 19/45
11/11 [==============================] - 0s 2ms/step - loss: 74.7392
Epoch 20/45
11/11 [==============================] - 0s 2ms/step - loss: 73.1631
Epoch 21/45
11/11 [==============================] - 0s 2ms/step - loss: 72.5196
Epoch 22/45
11/11 [==============================] - 0s 3ms/step - loss: 70.6850
Epoch 23/45
11/11 [==============================] - 0s 2ms/step - loss: 70.9268
Epoch 24/45
11/11 [==============================] - 0s 2ms/step - loss: 69.5753
Epoch 25/45
11/11 [==============================] - 0s 2ms/step - loss: 69.5043
Epoch 26/45
11/11 [==============================] - 0s 2ms/step - loss: 68.1956
Epoch 27/45
11/11 [==============================] - 0s 2ms/step - loss: 67.9513
Epoch 28/45
11/11 [==============================] - 0s 2ms/step - loss: 68.9682
Epoch 29/45
11/11 [==============================] - 0s 2ms/step - loss: 67.0438
Epoch 30/45
11/11 [==============================] - 0s 2ms/step - loss: 67.7101
Epoch 31/45
11/11 [==============================] - 0s 2ms/step - loss: 66.4670
Epoch 32/45
11/11 [==============================] - 0s 2ms/step - loss: 66.4227
Epoch 33/45
11/11 [==============================] - 0s 2ms/step - loss: 66.3908
Epoch 34/45
11/11 [==============================] - 0s 2ms/step - loss: 65.7114
Epoch 35/45
11/11 [==============================] - 0s 2ms/step - loss: 66.2406
Epoch 36/45
11/11 [==============================] - 0s 2ms/step - loss: 65.2598
Epoch 37/45
11/11 [==============================] - 0s 2ms/step - loss: 65.4991
Epoch 38/45
11/11 [==============================] - 0s 2ms/step - loss: 64.4334
Epoch 39/45
11/11 [==============================] - 0s 2ms/step - loss: 64.2208
Epoch 40/45
11/11 [==============================] - 0s 2ms/step - loss: 64.0586
Epoch 41/45
11/11 [==============================] - 0s 3ms/step - loss: 63.6156
Epoch 42/45
11/11 [==============================] - 0s 2ms/step - loss: 62.8476
Epoch 43/45
11/11 [==============================] - 0s 2ms/step - loss: 63.2578
Epoch 44/45
11/11 [==============================] - 0s 2ms/step - loss: 62.8762
Epoch 45/45
11/11 [==============================] - 0s 2ms/step - loss: 63.4568
3/3 [==============================] - 0s 4ms/step - loss: 45.7450

45.74497985839844

In [75]:
model = Sequential()
model.add(Dense(10, activation = 'relu', input_shape = (features,)))
model.add(Dense(8, activation = 'relu', input_shape = (features,)))
model.add(Dense(1))
from tensorflow.keras.optimizers import RMSprop
Learning_rate = 0.01
optimizer = RMSprop(Learning_rate)
epochs = 45

model.compile(loss = "mean_squared_error", optimizer=optimizer)
model.fit(X_train, y_train, epochs=epochs, batch_size=30, verbose = 1) # fit the model
model.evaluate(X_test,  y_test)

Epoch 1/45
11/11 [==============================] - 1s 2ms/step - loss: 549.9697
Epoch 2/45
11/11 [==============================] - 0s 2ms/step - loss: 123.6556
Epoch 3/45
11/11 [==============================] - 0s 2ms/step - loss: 120.1864
Epoch 4/45
11/11 [==============================] - 0s 3ms/step - loss: 116.0835
Epoch 5/45
11/11 [==============================] - 0s 2ms/step - loss: 101.5782
Epoch 6/45
11/11 [==============================] - 0s 2ms/step - loss: 105.3995
Epoch 7/45
11/11 [==============================] - 0s 2ms/step - loss: 107.3407
Epoch 8/45
11/11 [==============================] - 0s 2ms/step - loss: 102.0830
Epoch 9/45
11/11 [==============================] - 0s 2ms/step - loss: 71.2367
Epoch 10/45
11/11 [==============================] - 0s 2ms/step - loss: 96.2992
Epoch 11/45
11/11 [==============================] - 0s 2ms/step - loss: 74.8872
Epoch 12/45
11/11 [==============================] - 0s 2ms/step - loss: 96.8810
Epoch 13/45
11/11 [==============================] - 0s 2ms/step - loss: 65.7929
Epoch 14/45
11/11 [==============================] - 0s 3ms/step - loss: 71.6519
Epoch 15/45
11/11 [==============================] - 0s 3ms/step - loss: 83.6908
Epoch 16/45
11/11 [==============================] - 0s 2ms/step - loss: 69.4421
Epoch 17/45
11/11 [==============================] - 0s 2ms/step - loss: 76.5711
Epoch 18/45
11/11 [==============================] - 0s 2ms/step - loss: 60.1028
Epoch 19/45
11/11 [==============================] - 0s 2ms/step - loss: 81.7025
Epoch 20/45
11/11 [==============================] - 0s 2ms/step - loss: 62.9173
Epoch 21/45
11/11 [==============================] - 0s 3ms/step - loss: 67.2864
Epoch 22/45
11/11 [==============================] - 0s 2ms/step - loss: 59.1337
Epoch 23/45
11/11 [==============================] - 0s 2ms/step - loss: 67.6994
Epoch 24/45
11/11 [==============================] - 0s 3ms/step - loss: 60.5152
Epoch 25/45
11/11 [==============================] - 0s 3ms/step - loss: 61.3367
Epoch 26/45
11/11 [==============================] - 0s 3ms/step - loss: 57.1670
Epoch 27/45
11/11 [==============================] - 0s 2ms/step - loss: 50.3144
Epoch 28/45
11/11 [==============================] - 0s 2ms/step - loss: 71.2996
Epoch 29/45
11/11 [==============================] - 0s 2ms/step - loss: 44.6258
Epoch 30/45
11/11 [==============================] - 0s 2ms/step - loss: 64.3334
Epoch 31/45
11/11 [==============================] - 0s 2ms/step - loss: 44.0194
Epoch 32/45
11/11 [==============================] - 0s 2ms/step - loss: 53.9596
Epoch 33/45
11/11 [==============================] - 0s 2ms/step - loss: 52.3639
Epoch 34/45
11/11 [==============================] - 0s 2ms/step - loss: 50.6396
Epoch 35/45
11/11 [==============================] - 0s 2ms/step - loss: 53.7335
Epoch 36/45
11/11 [==============================] - 0s 3ms/step - loss: 51.8787
Epoch 37/45
11/11 [==============================] - 0s 2ms/step - loss: 59.3654
Epoch 38/45
11/11 [==============================] - 0s 2ms/step - loss: 41.2830
Epoch 39/45
11/11 [==============================] - 0s 2ms/step - loss: 51.8804
Epoch 40/45
11/11 [==============================] - 0s 2ms/step - loss: 44.0956
Epoch 41/45
11/11 [==============================] - 0s 2ms/step - loss: 46.8893
Epoch 42/45
11/11 [==============================] - 0s 2ms/step - loss: 50.5323
Epoch 43/45
11/11 [==============================] - 0s 2ms/step - loss: 45.4438
Epoch 44/45
11/11 [==============================] - 0s 2ms/step - loss: 50.8078
Epoch 45/45
11/11 [==============================] - 0s 2ms/step - loss: 49.7337
3/3 [==============================] - 0s 6ms/step - loss: 41.1232

41.123226165771484

Training loss should steadily decrease, steeply at first, and then more slowly until the slope of the curve reaches or approaches zero.
If the training loss does not converge, train for more epochs.
If the training loss decreases too slowly, increase the learning rate. Note that setting the learning rate too high may also prevent training loss from converging.
If the training loss varies wildly (that is, the training loss jumps around), decrease the learning rate.
Lowering the learning rate while increasing the number of epochs or the batch size is often a good combination.
Setting the batch size to a very small batch number can also cause instability. First, try large batch size values. Then, decrease the batch size until you see degradation.
For real-world datasets consisting of a very large number of examples, the entire dataset might not fit into memory. In such cases, you'll need to reduce the batch size to enable a batch to fit into memory.
Remember: the ideal combination of hyperparameters is data dependent, so you must always experiment and verify.

In [76]:
test = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/Boston_Housing/Testing_set_boston.csv")

In [77]:
model.predict(test)

array([[24.226982 ],
       [25.137524 ],
       [15.827255 ],
       [21.181791 ],
       [15.446242 ],
       [20.12325  ],
       [16.428774 ],
       [12.793966 ],
       [19.044825 ],
       [21.093689 ],
       [17.809233 ],
       [17.744955 ],
       [11.12262  ],
       [19.081604 ],
       [20.227991 ],
       [18.01637  ],
       [13.252092 ],
       [ 8.233999 ],
       [32.7454   ],
       [15.073683 ],
       [20.454363 ],
       [21.896063 ],
       [12.200258 ],
       [20.73227  ],
       [14.922433 ],
       [13.820247 ],
       [20.777922 ],
       [10.110424 ],
       [18.179995 ],
       [20.680983 ],
       [20.710081 ],
       [22.876623 ],
       [17.117727 ],
       [20.46308  ],
       [12.910735 ],
       [ 9.997993 ],
       [23.808609 ],
       [19.31512  ],
       [17.802338 ],
       [19.06491  ],
       [15.912777 ],
       [32.1868   ],
       [37.261295 ],
       [19.1673   ],
       [22.83646  ],
       [15.770449 ],
       [15.034113 ],
       [20.065918 ],
       [16.10688  ],
       [26.438276 ],
       [20.781607 ],
       [24.615906 ],
       [16.860228 ],
       [25.108664 ],
       [26.171175 ],
       [18.428858 ],
       [16.814257 ],
       [30.02852  ],
       [20.763685 ],
       [16.357914 ],
       [21.054243 ],
       [31.517735 ],
       [23.967167 ],
       [12.127706 ],
       [25.01008  ],
       [14.6665745],
       [15.695133 ],
       [22.831577 ],
       [26.699797 ],
       [10.181332 ],
       [16.456747 ],
       [21.58375  ],
       [ 9.086514 ],
       [22.951159 ],
       [20.118643 ],
       [ 5.7470202],
       [22.569715 ],
       [36.812225 ],
       [12.859871 ],
       [12.375245 ],
       [21.928047 ],
       [ 9.888316 ],
       [21.75755  ],
       [11.2172785],
       [21.654572 ],
       [23.086222 ],
       [14.215653 ],
       [22.989037 ],
       [21.147272 ],
       [20.194933 ],
       [21.699131 ],
       [ 7.3356724],
       [21.548267 ],
       [17.882671 ],
       [19.86917  ],
       [21.816072 ],
       [19.600945 ],
       [12.504555 ],
       [ 9.27988  ],
       [ 9.333543 ],
       [18.61064  ],
       [20.651596 ]], dtype=float32)